In [34]:
minutes = 45
seconds = 57
hundredths = 34

In [35]:
average1 = str(minutes) + ":" + str(seconds) + "." + str(hundredths)
average1

'45:57.34'

In [36]:
average2 = f"{minutes}:{seconds}.{hundredths}"
average2

'45:57.34'

In [37]:
import os

import swimclub


swim_files = os.listdir(swimclub.FOLDER)
swim_files.remove(".DS_Store")

print(len(swim_files))

60

In [38]:
swim_files

['Abi-10-100m-Back.txt',
 'Abi-10-100m-Breast.txt',
 'Abi-10-50m-Back.txt',
 'Abi-10-50m-Breast.txt',
 'Abi-10-50m-Free.txt',
 'Ali-12-100m-Back.txt',
 'Ali-12-100m-Free.txt',
 'Alison-14-100m-Breast.txt',
 'Alison-14-100m-Free.txt',
 'Aurora-13-50m-Free.txt',
 'Bill-18-100m-Back.txt',
 'Bill-18-200m-Back.txt',
 'Blake-15-100m-Back.txt',
 'Blake-15-100m-Fly.txt',
 'Blake-15-100m-Free.txt',
 'Calvin-9-50m-Back.txt',
 'Calvin-9-50m-Fly.txt',
 'Calvin-9-50m-Free.txt',
 'Carl-15-100m-Back.txt',
 'Chris-17-100m-Back.txt',
 'Chris-17-100m-Breast.txt',
 'Darius-13-100m-Back.txt',
 'Darius-13-100m-Breast.txt',
 'Darius-13-100m-Fly.txt',
 'Darius-13-200m-IM.txt',
 'Dave-17-100m-Free.txt',
 'Dave-17-200m-Back.txt',
 'Elba-14-100m-Free.txt',
 'Emma-13-100m-Breast.txt',
 'Emma-13-100m-Free.txt',
 'Erika-15-100m-Breast.txt',
 'Erika-15-100m-Free.txt',
 'Erika-15-200m-Breast.txt',
 'Hannah-13-100m-Back.txt',
 'Hannah-13-100m-Free.txt',
 'Katie-9-100m-Back.txt',
 'Katie-9-100m-Breast.txt',
 'Katie-9-100m-Free.txt',
 'Katie-9-50m-Back.txt',
 'Katie-9-50m-Breast.txt',
 'Katie-9-50m-Fly.txt',
 'Katie-9-50m-Free.txt',
 'Lizzie-14-100m-Back.txt',
 'Lizzie-14-100m-Free.txt',
 'Maria-9-50m-Free.txt',
 'Mike-15-100m-Back.txt',
 'Mike-15-100m-Fly.txt',
 'Mike-15-100m-Free.txt',
 'Mike-15-200m-Free.txt',
 'Mike-15-200m-IM.txt',
 'Owen-15-100m-Free.txt',
 'Ruth-13-100m-Back.txt',
 'Ruth-13-100m-Free.txt',
 'Ruth-13-200m-Back.txt',
 'Ruth-13-200m-Free.txt',
 'Ruth-13-400m-Free.txt',
 'Tasmin-15-100m-Back.txt',
 'Tasmin-15-100m-Breast.txt',
 'Tasmin-15-100m-Free.txt',
 'Tasmin-15-200m-Breast.txt']

In [39]:
swimmers = []
for file in swim_files:
    swimmers.append(swimclub.read_swim_data(file)[0])
print(swimmers)

['Abi', 'Abi', 'Abi', 'Abi', 'Abi', 'Ali', 'Ali', 'Alison', 'Alison', 'Aurora', 'Bill', 'Bill', 'Blake', 'Blake', 'Blake', 'Calvin', 'Calvin', 'Calvin', 'Carl', 'Chris', 'Chris', 'Darius', 'Darius', 'Darius', 'Darius', 'Dave', 'Dave', 'Elba', 'Emma', 'Emma', 'Erika', 'Erika', 'Erika', 'Hannah', 'Hannah', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Lizzie', 'Lizzie', 'Maria', 'Mike', 'Mike', 'Mike', 'Mike', 'Mike', 'Owen', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Tasmin', 'Tasmin', 'Tasmin', 'Tasmin']

In [40]:
test = []
test=swimmers.append(swimclub.read_swim_data('Tasmin-15-200m-Breast.txt'))
print(test)

None

In [41]:
swimclub.read_swim_data('Tasmin-15-200m-Breast.txt')

('Tasmin',
 '15',
 '200m',
 'Breast',
 ['2:54.14', '3:03.58', '3:02.43', '2:57.99'],
 '2:59.53',
 [17414, 18358, 18243, 17799])

In [42]:
test = []
test = swimclub.read_swim_data('Tasmin-15-200m-Breast.txt')
print(test[0])

Tasmin

In [43]:
test = []
test.append(swimclub.read_swim_data('Tasmin-15-200m-Breast.txt')[0])
print(test)

['Tasmin']

In [44]:
swim_files

['Abi-10-100m-Back.txt',
 'Abi-10-100m-Breast.txt',
 'Abi-10-50m-Back.txt',
 'Abi-10-50m-Breast.txt',
 'Abi-10-50m-Free.txt',
 'Ali-12-100m-Back.txt',
 'Ali-12-100m-Free.txt',
 'Alison-14-100m-Breast.txt',
 'Alison-14-100m-Free.txt',
 'Aurora-13-50m-Free.txt',
 'Bill-18-100m-Back.txt',
 'Bill-18-200m-Back.txt',
 'Blake-15-100m-Back.txt',
 'Blake-15-100m-Fly.txt',
 'Blake-15-100m-Free.txt',
 'Calvin-9-50m-Back.txt',
 'Calvin-9-50m-Fly.txt',
 'Calvin-9-50m-Free.txt',
 'Carl-15-100m-Back.txt',
 'Chris-17-100m-Back.txt',
 'Chris-17-100m-Breast.txt',
 'Darius-13-100m-Back.txt',
 'Darius-13-100m-Breast.txt',
 'Darius-13-100m-Fly.txt',
 'Darius-13-200m-IM.txt',
 'Dave-17-100m-Free.txt',
 'Dave-17-200m-Back.txt',
 'Elba-14-100m-Free.txt',
 'Emma-13-100m-Breast.txt',
 'Emma-13-100m-Free.txt',
 'Erika-15-100m-Breast.txt',
 'Erika-15-100m-Free.txt',
 'Erika-15-200m-Breast.txt',
 'Hannah-13-100m-Back.txt',
 'Hannah-13-100m-Free.txt',
 'Katie-9-100m-Back.txt',
 'Katie-9-100m-Breast.txt',
 'Katie-9-100m-Free.txt',
 'Katie-9-50m-Back.txt',
 'Katie-9-50m-Breast.txt',
 'Katie-9-50m-Fly.txt',
 'Katie-9-50m-Free.txt',
 'Lizzie-14-100m-Back.txt',
 'Lizzie-14-100m-Free.txt',
 'Maria-9-50m-Free.txt',
 'Mike-15-100m-Back.txt',
 'Mike-15-100m-Fly.txt',
 'Mike-15-100m-Free.txt',
 'Mike-15-200m-Free.txt',
 'Mike-15-200m-IM.txt',
 'Owen-15-100m-Free.txt',
 'Ruth-13-100m-Back.txt',
 'Ruth-13-100m-Free.txt',
 'Ruth-13-200m-Back.txt',
 'Ruth-13-200m-Free.txt',
 'Ruth-13-400m-Free.txt',
 'Tasmin-15-100m-Back.txt',
 'Tasmin-15-100m-Breast.txt',
 'Tasmin-15-100m-Free.txt',
 'Tasmin-15-200m-Breast.txt']

In [45]:
test = []
for file in swim_files:
    swimclub.read_swim_data(file)[0]
    test.append((swimclub.read_swim_data(file)[0],file))
print(test)
print(len(test))

[('Abi', 'Abi-10-100m-Back.txt'), ('Abi', 'Abi-10-100m-Breast.txt'), ('Abi', 'Abi-10-50m-Back.txt'), ('Abi', 'Abi-10-50m-Breast.txt'), ('Abi', 'Abi-10-50m-Free.txt'), ('Ali', 'Ali-12-100m-Back.txt'), ('Ali', 'Ali-12-100m-Free.txt'), ('Alison', 'Alison-14-100m-Breast.txt'), ('Alison', 'Alison-14-100m-Free.txt'), ('Aurora', 'Aurora-13-50m-Free.txt'), ('Bill', 'Bill-18-100m-Back.txt'), ('Bill', 'Bill-18-200m-Back.txt'), ('Blake', 'Blake-15-100m-Back.txt'), ('Blake', 'Blake-15-100m-Fly.txt'), ('Blake', 'Blake-15-100m-Free.txt'), ('Calvin', 'Calvin-9-50m-Back.txt'), ('Calvin', 'Calvin-9-50m-Fly.txt'), ('Calvin', 'Calvin-9-50m-Free.txt'), ('Carl', 'Carl-15-100m-Back.txt'), ('Chris', 'Chris-17-100m-Back.txt'), ('Chris', 'Chris-17-100m-Breast.txt'), ('Darius', 'Darius-13-100m-Back.txt'), ('Darius', 'Darius-13-100m-Breast.txt'), ('Darius', 'Darius-13-100m-Fly.txt'), ('Darius', 'Darius-13-200m-IM.txt'), ('Dave', 'Dave-17-100m-Free.txt'), ('Dave', 'Dave-17-200m-Back.txt'), ('Elba', 'Elba-14-100m-Free.txt'), ('Emma', 'Emma-13-100m-Breast.txt'), ('Emma', 'Emma-13-100m-Free.txt'), ('Erika', 'Erika-15-100m-Breast.txt'), ('Erika', 'Erika-15-100m-Free.txt'), ('Erika', 'Erika-15-200m-Breast.txt'), ('Hannah', 'Hannah-13-100m-Back.txt'), ('Hannah', 'Hannah-13-100m-Free.txt'), ('Katie', 'Katie-9-100m-Back.txt'), ('Katie', 'Katie-9-100m-Breast.txt'), ('Katie', 'Katie-9-100m-Free.txt'), ('Katie', 'Katie-9-50m-Back.txt'), ('Katie', 'Katie-9-50m-Breast.txt'), ('Katie', 'Katie-9-50m-Fly.txt'), ('Katie', 'Katie-9-50m-Free.txt'), ('Lizzie', 'Lizzie-14-100m-Back.txt'), ('Lizzie', 'Lizzie-14-100m-Free.txt'), ('Maria', 'Maria-9-50m-Free.txt'), ('Mike', 'Mike-15-100m-Back.txt'), ('Mike', 'Mike-15-100m-Fly.txt'), ('Mike', 'Mike-15-100m-Free.txt'), ('Mike', 'Mike-15-200m-Free.txt'), ('Mike', 'Mike-15-200m-IM.txt'), ('Owen', 'Owen-15-100m-Free.txt'), ('Ruth', 'Ruth-13-100m-Back.txt'), ('Ruth', 'Ruth-13-100m-Free.txt'), ('Ruth', 'Ruth-13-200m-Back.txt'), ('Ruth', 'Ruth-13-200m-Free.txt'), ('Ruth', 'Ruth-13-400m-Free.txt'), ('Tasmin', 'Tasmin-15-100m-Back.txt'), ('Tasmin', 'Tasmin-15-100m-Breast.txt'), ('Tasmin', 'Tasmin-15-100m-Free.txt'), ('Tasmin', 'Tasmin-15-200m-Breast.txt')]
60

In [46]:
name = ['shakthi', 'Sidharra']
for n in name:
    print(n,len(n))

shakthi 7
Sidharra 8

In [47]:
names = list(set(swimmers))
print(names)
print(len(names))

TypeError: unhashable type: 'list'

In [ ]:
swimmers = []
for file in swim_files:
    name = swimclub.read_swim_data(file)[0]
    if name not in swimmers:
        swimmers.append(name)
print(swimmers)
print(len(swimmers))

['Abi', 'Ali', 'Alison', 'Aurora', 'Bill', 'Blake', 'Calvin', 'Carl', 'Chris', 'Darius', 'Dave', 'Elba', 'Emma', 'Erika', 'Hannah', 'Katie', 'Lizzie', 'Maria', 'Mike', 'Owen', 'Ruth', 'Tasmin']
22

In [ ]:
print(sorted(names))

['Abi', 'Ali', 'Alison', 'Aurora', 'Bill', 'Blake', 'Calvin', 'Carl', 'Chris', 'Darius', 'Dave', 'Elba', 'Emma', 'Erika', 'Hannah', 'Katie', 'Lizzie', 'Maria', 'Mike', 'Owen', 'Ruth', 'Tasmin']

In [ ]:
print(sorted(swimmers))

['Abi', 'Ali', 'Alison', 'Aurora', 'Bill', 'Blake', 'Calvin', 'Carl', 'Chris', 'Darius', 'Dave', 'Elba', 'Emma', 'Erika', 'Hannah', 'Katie', 'Lizzie', 'Maria', 'Mike', 'Owen', 'Ruth', 'Tasmin']

In [ ]:
swimmers = []
for file in swim_files:
    swimmers.append(swimclub.read_swim_data(file)[0])
print(swimmers)

['Abi', 'Abi', 'Abi', 'Abi', 'Abi', 'Ali', 'Ali', 'Alison', 'Alison', 'Aurora', 'Bill', 'Bill', 'Blake', 'Blake', 'Blake', 'Calvin', 'Calvin', 'Calvin', 'Carl', 'Chris', 'Chris', 'Darius', 'Darius', 'Darius', 'Darius', 'Dave', 'Dave', 'Elba', 'Emma', 'Emma', 'Erika', 'Erika', 'Erika', 'Hannah', 'Hannah', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Lizzie', 'Lizzie', 'Maria', 'Mike', 'Mike', 'Mike', 'Mike', 'Mike', 'Owen', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Tasmin', 'Tasmin', 'Tasmin', 'Tasmin']

In [ ]:
swimmers = []
for file in swim_files:
    swimclub.read_swim_data(file)[0]
    swimmers.append((swimclub.read_swim_data(file)[0], file))
print(swimmers)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
import os

import swimclub


swim_files = os.listdir(swimclub.FOLDER)
swim_files.remove(".DS_Store")

print(len(swim_files))

60

In [ ]:
print(swim_files)

['Abi-10-100m-Back.txt', 'Abi-10-100m-Breast.txt', 'Abi-10-50m-Back.txt', 'Abi-10-50m-Breast.txt', 'Abi-10-50m-Free.txt', 'Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt', 'Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt', 'Aurora-13-50m-Free.txt', 'Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt', 'Blake-15-100m-Back.txt', 'Blake-15-100m-Fly.txt', 'Blake-15-100m-Free.txt', 'Calvin-9-50m-Back.txt', 'Calvin-9-50m-Fly.txt', 'Calvin-9-50m-Free.txt', 'Carl-15-100m-Back.txt', 'Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt', 'Darius-13-100m-Back.txt', 'Darius-13-100m-Breast.txt', 'Darius-13-100m-Fly.txt', 'Darius-13-200m-IM.txt', 'Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt', 'Elba-14-100m-Free.txt', 'Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt', 'Erika-15-100m-Breast.txt', 'Erika-15-100m-Free.txt', 'Erika-15-200m-Breast.txt', 'Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt', 'Katie-9-100m-Back.txt', 'Katie-9-100m-Breast.txt', 'Katie-9-100m-Free.txt', 'Katie-9-50m-Back.txt', 'Katie-9-50m-Breast.txt', 'Katie-9-50m-Fly.txt', 'Katie-9-50m-Free.txt', 'Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt', 'Maria-9-50m-Free.txt', 'Mike-15-100m-Back.txt', 'Mike-15-100m-Fly.txt', 'Mike-15-100m-Free.txt', 'Mike-15-200m-Free.txt', 'Mike-15-200m-IM.txt', 'Owen-15-100m-Free.txt', 'Ruth-13-100m-Back.txt', 'Ruth-13-100m-Free.txt', 'Ruth-13-200m-Back.txt', 'Ruth-13-200m-Free.txt', 'Ruth-13-400m-Free.txt', 'Tasmin-15-100m-Back.txt', 'Tasmin-15-100m-Breast.txt', 'Tasmin-15-100m-Free.txt', 'Tasmin-15-200m-Breast.txt']

In [ ]:
swimmers = []
for file in swim_files:
    swimmers.append(swimclub.read_swim_data(file)[0])
print(len(swimmers))
print (swimmers)

60
['Abi', 'Abi', 'Abi', 'Abi', 'Abi', 'Ali', 'Ali', 'Alison', 'Alison', 'Aurora', 'Bill', 'Bill', 'Blake', 'Blake', 'Blake', 'Calvin', 'Calvin', 'Calvin', 'Carl', 'Chris', 'Chris', 'Darius', 'Darius', 'Darius', 'Darius', 'Dave', 'Dave', 'Elba', 'Emma', 'Emma', 'Erika', 'Erika', 'Erika', 'Hannah', 'Hannah', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Katie', 'Lizzie', 'Lizzie', 'Maria', 'Mike', 'Mike', 'Mike', 'Mike', 'Mike', 'Owen', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Ruth', 'Tasmin', 'Tasmin', 'Tasmin', 'Tasmin']

In [ ]:
#swimmers = list(set(swimmers))
print(len(swimmers))
print (swimmers)
print(sorted(swimmers))

22
['Darius', 'Ali', 'Mike', 'Hannah', 'Calvin', 'Carl', 'Chris', 'Owen', 'Elba', 'Abi', 'Tasmin', 'Maria', 'Aurora', 'Katie', 'Alison', 'Bill', 'Emma', 'Blake', 'Lizzie', 'Erika', 'Dave', 'Ruth']
['Abi', 'Ali', 'Alison', 'Aurora', 'Bill', 'Blake', 'Calvin', 'Carl', 'Chris', 'Darius', 'Dave', 'Elba', 'Emma', 'Erika', 'Hannah', 'Katie', 'Lizzie', 'Maria', 'Mike', 'Owen', 'Ruth', 'Tasmin']

In [ ]:
import operator
Test = operator.add
print(Test)
calc = operator.add(1, 2)
print (calc)

<built-in function add>
3

In [ ]:
import os
import swimclub
swim_files = os.listdir(swimclub.FOLDER)
print (swim_files)
swim_files.remove('.DS_Store')
print (swim_files)
len (swim_files)

['.DS_Store', 'Abi-10-100m-Back.txt', 'Abi-10-100m-Breast.txt', 'Abi-10-50m-Back.txt', 'Abi-10-50m-Breast.txt', 'Abi-10-50m-Free.txt', 'Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt', 'Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt', 'Aurora-13-50m-Free.txt', 'Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt', 'Blake-15-100m-Back.txt', 'Blake-15-100m-Fly.txt', 'Blake-15-100m-Free.txt', 'Calvin-9-50m-Back.txt', 'Calvin-9-50m-Fly.txt', 'Calvin-9-50m-Free.txt', 'Carl-15-100m-Back.txt', 'Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt', 'Darius-13-100m-Back.txt', 'Darius-13-100m-Breast.txt', 'Darius-13-100m-Fly.txt', 'Darius-13-200m-IM.txt', 'Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt', 'Elba-14-100m-Free.txt', 'Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt', 'Erika-15-100m-Breast.txt', 'Erika-15-100m-Free.txt', 'Erika-15-200m-Breast.txt', 'Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt', 'Katie-9-100m-Back.txt', 'Katie-9-100m-Breast.txt', 'Katie-9-100m-Free.txt', 'Katie-9-50m-Back.txt', 'Katie-9-50m-Breast.txt', 'Katie-9-50m-Fly.txt', 'Katie-9-50m-Free.txt', 'Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt', 'Maria-9-50m-Free.txt', 'Mike-15-100m-Back.txt', 'Mike-15-100m-Fly.txt', 'Mike-15-100m-Free.txt', 'Mike-15-200m-Free.txt', 'Mike-15-200m-IM.txt', 'Owen-15-100m-Free.txt', 'Ruth-13-100m-Back.txt', 'Ruth-13-100m-Free.txt', 'Ruth-13-200m-Back.txt', 'Ruth-13-200m-Free.txt', 'Ruth-13-400m-Free.txt', 'Tasmin-15-100m-Back.txt', 'Tasmin-15-100m-Breast.txt', 'Tasmin-15-100m-Free.txt', 'Tasmin-15-200m-Breast.txt']
['Abi-10-100m-Back.txt', 'Abi-10-100m-Breast.txt', 'Abi-10-50m-Back.txt', 'Abi-10-50m-Breast.txt', 'Abi-10-50m-Free.txt', 'Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt', 'Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt', 'Aurora-13-50m-Free.txt', 'Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt', 'Blake-15-100m-Back.txt', 'Blake-15-100m-Fly.txt', 'Blake-15-100m-Free.txt', 'Calvin-9-50m-Back.txt', 'Calvin-9-50m-Fly.txt', 'Calvin-9-50m-Free.txt', 'Carl-15-100m-Back.txt', 'Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt', 'Darius-13-100m-Back.txt', 'Darius-13-100m-Breast.txt', 'Darius-13-100m-Fly.txt', 'Darius-13-200m-IM.txt', 'Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt', 'Elba-14-100m-Free.txt', 'Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt', 'Erika-15-100m-Breast.txt', 'Erika-15-100m-Free.txt', 'Erika-15-200m-Breast.txt', 'Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt', 'Katie-9-100m-Back.txt', 'Katie-9-100m-Breast.txt', 'Katie-9-100m-Free.txt', 'Katie-9-50m-Back.txt', 'Katie-9-50m-Breast.txt', 'Katie-9-50m-Fly.txt', 'Katie-9-50m-Free.txt', 'Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt', 'Maria-9-50m-Free.txt', 'Mike-15-100m-Back.txt', 'Mike-15-100m-Fly.txt', 'Mike-15-100m-Free.txt', 'Mike-15-200m-Free.txt', 'Mike-15-200m-IM.txt', 'Owen-15-100m-Free.txt', 'Ruth-13-100m-Back.txt', 'Ruth-13-100m-Free.txt', 'Ruth-13-200m-Back.txt', 'Ruth-13-200m-Free.txt', 'Ruth-13-400m-Free.txt', 'Tasmin-15-100m-Back.txt', 'Tasmin-15-100m-Breast.txt', 'Tasmin-15-100m-Free.txt', 'Tasmin-15-200m-Breast.txt']

60

In [ ]:
swimmers = {}
for file in swim_files:
        name, *_ = swimclub.read_swim_data(file)
        swimmers[name] = []
        print(name)
len(swimmers)
#name, *_
#swimmers

Abi
Abi
Abi
Abi
Abi
Ali
Ali
Alison
Alison
Aurora
Bill
Bill
Blake
Blake
Blake
Calvin
Calvin
Calvin
Carl
Chris
Chris
Darius
Darius
Darius
Darius
Dave
Dave
Elba
Emma
Emma
Erika
Erika
Erika
Hannah
Hannah
Katie
Katie
Katie
Katie
Katie
Katie
Katie
Lizzie
Lizzie
Maria
Mike
Mike
Mike
Mike
Mike
Owen
Ruth
Ruth
Ruth
Ruth
Ruth
Tasmin
Tasmin
Tasmin
Tasmin

22

In [ ]:
swim_files

['Abi-10-100m-Back.txt',
 'Abi-10-100m-Breast.txt',
 'Abi-10-50m-Back.txt',
 'Abi-10-50m-Breast.txt',
 'Abi-10-50m-Free.txt',
 'Ali-12-100m-Back.txt',
 'Ali-12-100m-Free.txt',
 'Alison-14-100m-Breast.txt',
 'Alison-14-100m-Free.txt',
 'Aurora-13-50m-Free.txt',
 'Bill-18-100m-Back.txt',
 'Bill-18-200m-Back.txt',
 'Blake-15-100m-Back.txt',
 'Blake-15-100m-Fly.txt',
 'Blake-15-100m-Free.txt',
 'Calvin-9-50m-Back.txt',
 'Calvin-9-50m-Fly.txt',
 'Calvin-9-50m-Free.txt',
 'Carl-15-100m-Back.txt',
 'Chris-17-100m-Back.txt',
 'Chris-17-100m-Breast.txt',
 'Darius-13-100m-Back.txt',
 'Darius-13-100m-Breast.txt',
 'Darius-13-100m-Fly.txt',
 'Darius-13-200m-IM.txt',
 'Dave-17-100m-Free.txt',
 'Dave-17-200m-Back.txt',
 'Elba-14-100m-Free.txt',
 'Emma-13-100m-Breast.txt',
 'Emma-13-100m-Free.txt',
 'Erika-15-100m-Breast.txt',
 'Erika-15-100m-Free.txt',
 'Erika-15-200m-Breast.txt',
 'Hannah-13-100m-Back.txt',
 'Hannah-13-100m-Free.txt',
 'Katie-9-100m-Back.txt',
 'Katie-9-100m-Breast.txt',
 'Katie-9-100m-Free.txt',
 'Katie-9-50m-Back.txt',
 'Katie-9-50m-Breast.txt',
 'Katie-9-50m-Fly.txt',
 'Katie-9-50m-Free.txt',
 'Lizzie-14-100m-Back.txt',
 'Lizzie-14-100m-Free.txt',
 'Maria-9-50m-Free.txt',
 'Mike-15-100m-Back.txt',
 'Mike-15-100m-Fly.txt',
 'Mike-15-100m-Free.txt',
 'Mike-15-200m-Free.txt',
 'Mike-15-200m-IM.txt',
 'Owen-15-100m-Free.txt',
 'Ruth-13-100m-Back.txt',
 'Ruth-13-100m-Free.txt',
 'Ruth-13-200m-Back.txt',
 'Ruth-13-200m-Free.txt',
 'Ruth-13-400m-Free.txt',
 'Tasmin-15-100m-Back.txt',
 'Tasmin-15-100m-Breast.txt',
 'Tasmin-15-100m-Free.txt',
 'Tasmin-15-200m-Breast.txt']

In [ ]:
swimmers["Dave"]

[]

In [ ]:
swimmers = {}
for file in swim_files:
        name, *_ = swimclub.read_swim_data(file)
        if name not in swimmers:
                swimmers[name] = []
        swimmers[name].append(file)
len(swimmers)
#name, *_
#swimmers

22

In [ ]:
swimmers["Dave"]

['Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt']

In [ ]:
for n, event in enumerate(swimmers):
        print(n,event)

0 Abi
1 Ali
2 Alison
3 Aurora
4 Bill
5 Blake
6 Calvin
7 Carl
8 Chris
9 Darius
10 Dave
11 Elba
12 Emma
13 Erika
14 Hannah
15 Katie
16 Lizzie
17 Maria
18 Mike
19 Owen
20 Ruth
21 Tasmin

In [ ]:
for name in swimmers:
    print(name)

Abi
Ali
Alison
Aurora
Bill
Blake
Calvin
Carl
Chris
Darius
Dave
Elba
Emma
Erika
Hannah
Katie
Lizzie
Maria
Mike
Owen
Ruth
Tasmin

In [ ]:
for n, event in enumerate(swimmers):
    if event == "Dave":
        print(n,event)

In [ ]:
print(swimmers)

{'Abi': ['Abi-10-100m-Back.txt', 'Abi-10-100m-Breast.txt', 'Abi-10-50m-Back.txt', 'Abi-10-50m-Breast.txt', 'Abi-10-50m-Free.txt'], 'Ali': ['Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt'], 'Alison': ['Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt'], 'Aurora': ['Aurora-13-50m-Free.txt'], 'Bill': ['Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt'], 'Blake': ['Blake-15-100m-Back.txt', 'Blake-15-100m-Fly.txt', 'Blake-15-100m-Free.txt'], 'Calvin': ['Calvin-9-50m-Back.txt', 'Calvin-9-50m-Fly.txt', 'Calvin-9-50m-Free.txt'], 'Carl': ['Carl-15-100m-Back.txt'], 'Chris': ['Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt'], 'Darius': ['Darius-13-100m-Back.txt', 'Darius-13-100m-Breast.txt', 'Darius-13-100m-Fly.txt', 'Darius-13-200m-IM.txt'], 'Dave': ['Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt'], 'Elba': ['Elba-14-100m-Free.txt'], 'Emma': ['Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt'], 'Erika': ['Erika-15-100m-Breast.txt', 'Erika-15-100m-Free.txt', 'Erika-15-200m-Breast.txt'], 'Hannah': ['Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt'], 'Katie': ['Katie-9-100m-Back.txt', 'Katie-9-100m-Breast.txt', 'Katie-9-100m-Free.txt', 'Katie-9-50m-Back.txt', 'Katie-9-50m-Breast.txt', 'Katie-9-50m-Fly.txt', 'Katie-9-50m-Free.txt'], 'Lizzie': ['Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt'], 'Maria': ['Maria-9-50m-Free.txt'], 'Mike': ['Mike-15-100m-Back.txt', 'Mike-15-100m-Fly.txt', 'Mike-15-100m-Free.txt', 'Mike-15-200m-Free.txt', 'Mike-15-200m-IM.txt'], 'Owen': ['Owen-15-100m-Free.txt'], 'Ruth': ['Ruth-13-100m-Back.txt', 'Ruth-13-100m-Free.txt', 'Ruth-13-200m-Back.txt', 'Ruth-13-200m-Free.txt', 'Ruth-13-400m-Free.txt'], 'Tasmin': ['Tasmin-15-100m-Back.txt', 'Tasmin-15-100m-Breast.txt', 'Tasmin-15-100m-Free.txt', 'Tasmin-15-200m-Breast.txt']}

In [ ]:
for n, event in enumerate(swimmers):
    print(n)
    print(event)

0
Abi
1
Ali
2
Alison
3
Aurora
4
Bill
5
Blake
6
Calvin
7
Carl
8
Chris
9
Darius
10
Dave
11
Elba
12
Emma
13
Erika
14
Hannah
15
Katie
16
Lizzie
17
Maria
18
Mike
19
Owen
20
Ruth
21
Tasmin

In [ ]:
swimmers["Darius"]

['Darius-13-100m-Back.txt',
 'Darius-13-100m-Breast.txt',
 'Darius-13-100m-Fly.txt',
 'Darius-13-200m-IM.txt']

In [ ]:
swimmers

{'Abi': ['Abi-10-100m-Back.txt',
  'Abi-10-100m-Breast.txt',
  'Abi-10-50m-Back.txt',
  'Abi-10-50m-Breast.txt',
  'Abi-10-50m-Free.txt'],
 'Ali': ['Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt'],
 'Alison': ['Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt'],
 'Aurora': ['Aurora-13-50m-Free.txt'],
 'Bill': ['Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt'],
 'Blake': ['Blake-15-100m-Back.txt',
  'Blake-15-100m-Fly.txt',
  'Blake-15-100m-Free.txt'],
 'Calvin': ['Calvin-9-50m-Back.txt',
  'Calvin-9-50m-Fly.txt',
  'Calvin-9-50m-Free.txt'],
 'Carl': ['Carl-15-100m-Back.txt'],
 'Chris': ['Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt'],
 'Darius': ['Darius-13-100m-Back.txt',
  'Darius-13-100m-Breast.txt',
  'Darius-13-100m-Fly.txt',
  'Darius-13-200m-IM.txt'],
 'Dave': ['Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt'],
 'Elba': ['Elba-14-100m-Free.txt'],
 'Emma': ['Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt'],
 'Erika': ['Erika-15-100m-Breast.txt',
  'Erika-15-100m-Free.txt',
  'Erika-15-200m-Breast.txt'],
 'Hannah': ['Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt'],
 'Katie': ['Katie-9-100m-Back.txt',
  'Katie-9-100m-Breast.txt',
  'Katie-9-100m-Free.txt',
  'Katie-9-50m-Back.txt',
  'Katie-9-50m-Breast.txt',
  'Katie-9-50m-Fly.txt',
  'Katie-9-50m-Free.txt'],
 'Lizzie': ['Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt'],
 'Maria': ['Maria-9-50m-Free.txt'],
 'Mike': ['Mike-15-100m-Back.txt',
  'Mike-15-100m-Fly.txt',
  'Mike-15-100m-Free.txt',
  'Mike-15-200m-Free.txt',
  'Mike-15-200m-IM.txt'],
 'Owen': ['Owen-15-100m-Free.txt'],
 'Ruth': ['Ruth-13-100m-Back.txt',
  'Ruth-13-100m-Free.txt',
  'Ruth-13-200m-Back.txt',
  'Ruth-13-200m-Free.txt',
  'Ruth-13-400m-Free.txt'],
 'Tasmin': ['Tasmin-15-100m-Back.txt',
  'Tasmin-15-100m-Breast.txt',
  'Tasmin-15-100m-Free.txt',
  'Tasmin-15-200m-Breast.txt']}

In [ ]:
import pprint
pprint.pprint(swimmers)

{'Abi': ['Abi-10-100m-Back.txt',
         'Abi-10-100m-Breast.txt',
         'Abi-10-50m-Back.txt',
         'Abi-10-50m-Breast.txt',
         'Abi-10-50m-Free.txt'],
 'Ali': ['Ali-12-100m-Back.txt', 'Ali-12-100m-Free.txt'],
 'Alison': ['Alison-14-100m-Breast.txt', 'Alison-14-100m-Free.txt'],
 'Aurora': ['Aurora-13-50m-Free.txt'],
 'Bill': ['Bill-18-100m-Back.txt', 'Bill-18-200m-Back.txt'],
 'Blake': ['Blake-15-100m-Back.txt',
           'Blake-15-100m-Fly.txt',
           'Blake-15-100m-Free.txt'],
 'Calvin': ['Calvin-9-50m-Back.txt',
            'Calvin-9-50m-Fly.txt',
            'Calvin-9-50m-Free.txt'],
 'Carl': ['Carl-15-100m-Back.txt'],
 'Chris': ['Chris-17-100m-Back.txt', 'Chris-17-100m-Breast.txt'],
 'Darius': ['Darius-13-100m-Back.txt',
            'Darius-13-100m-Breast.txt',
            'Darius-13-100m-Fly.txt',
            'Darius-13-200m-IM.txt'],
 'Dave': ['Dave-17-100m-Free.txt', 'Dave-17-200m-Back.txt'],
 'Elba': ['Elba-14-100m-Free.txt'],
 'Emma': ['Emma-13-100m-Breast.txt', 'Emma-13-100m-Free.txt'],
 'Erika': ['Erika-15-100m-Breast.txt',
           'Erika-15-100m-Free.txt',
           'Erika-15-200m-Breast.txt'],
 'Hannah': ['Hannah-13-100m-Back.txt', 'Hannah-13-100m-Free.txt'],
 'Katie': ['Katie-9-100m-Back.txt',
           'Katie-9-100m-Breast.txt',
           'Katie-9-100m-Free.txt',
           'Katie-9-50m-Back.txt',
           'Katie-9-50m-Breast.txt',
           'Katie-9-50m-Fly.txt',
           'Katie-9-50m-Free.txt'],
 'Lizzie': ['Lizzie-14-100m-Back.txt', 'Lizzie-14-100m-Free.txt'],
 'Maria': ['Maria-9-50m-Free.txt'],
 'Mike': ['Mike-15-100m-Back.txt',
          'Mike-15-100m-Fly.txt',
          'Mike-15-100m-Free.txt',
          'Mike-15-200m-Free.txt',
          'Mike-15-200m-IM.txt'],
 'Owen': ['Owen-15-100m-Free.txt'],
 'Ruth': ['Ruth-13-100m-Back.txt',
          'Ruth-13-100m-Free.txt',
          'Ruth-13-200m-Back.txt',
          'Ruth-13-200m-Free.txt',
          'Ruth-13-400m-Free.txt'],
 'Tasmin': ['Tasmin-15-100m-Back.txt',
            'Tasmin-15-100m-Breast.txt',
            'Tasmin-15-100m-Free.txt',
            'Tasmin-15-200m-Breast.txt']}

In [ ]:
import os
import webbrowser
import swimclub

for fname in swimmers["Calvin"]:
    webbrowser.open("file://" + os.path.realpath(swimclub.produce_bar_chart(fname)))

AttributeError: module 'swimclub' has no attribute 'produce_bar_chart'

In [ ]:
pip install flask --upgrade

Requirement already satisfied: flask in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.0.0)
Collecting flask
  Using cached flask-3.1.2-py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: blinker>=1.9.0 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (1.9.0)
Requirement already satisfied: click>=8.1.3 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (8.2.1)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (3.0.3)
Requirement already satisfied: werkzeug>=3.1.0 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from flask) (3.1.1)
Requirement already satisfied: colorama in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click>=8.1.3->flask) (0.4.6)
Using cached flask-3.1.2-py3-none-any.whl (103 kB)
Installing collected packages: flask
  Attempting uninstall: flask
    Found existing installation: Flask 3.0.0
    Uninstalling Flask-3.0.0:
      Successfully uninstalled Flask-3.0.0
Successfully installed flask-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install gazpacho --upgrade

Collecting gazpacho
  Downloading gazpacho-1.1.tar.gz (7.9 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: gazpacho
  Building wheel for gazpacho (pyproject.toml): started
  Building wheel for gazpacho (pyproject.toml): finished with status 'done'
  Created wheel for gazpacho: filename=gazpacho-1.1-py3-none-any.whl size=7553 sha256=ee1a889d22e4be19dd5e370d9cf53083c726d95809b0913fe3332b035fdd02a6
  Stored in directory: c:\users\sridh\appdata\local\pip\cache\wheels\f4\e6\e3\d9a9b3f1dc045ee40c507cd630daa6cdd41b239633e92d5457
Successfully built gazpacho
Installing collected packages: gazpacho
Successfully installed gazpacho-1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [ ]:
import gazpacho
html = gazpacho.get(URL)

In [ ]:
len(html)

570246

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nums[:4]

[0, 1, 2, 3]

In [ ]:
nums[-1] #9

9

In [ ]:

nums[-2] #8

8

In [ ]:
nums[2:4]

[2, 3]

In [ ]:
nums[7:-1]

[7]

In [ ]:
nums[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nums[::3]

[0, 3, 6, 9]

In [ ]:
nums[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
soup = gazpacho.Soup(html)

In [ ]:
type(soup)

gazpacho.soup.Soup

In [ ]:
print(dir(soup))

['attrs', 'find', 'get', 'html', 'strip', 'tag', 'text']

In [ ]:
tables = soup.find("table")

In [ ]:
type(tables)

list

In [ ]:
len(tables)

11

In [ ]:
type(tables[0])

gazpacho.soup.Soup

In [ ]:
rows = tables[0].find("tr",mode="all")

In [ ]:
type(rows)

list

In [ ]:
len(rows)

21

In [ ]:
rows[0]

<tr>
  <th>Event
</th>
  <th style="width:4em" class="unsortable">Time
</th>
  <th class="unsortable">
</th>
  <th>Name</th>
  <th>Nationality</th>
  <th>Date</th>
  <th>Meet</th>
  <th>Location
</th>
  <th class="unsortable">Ref
</th>
</tr>

In [ ]:
for n, table in enumerate(tables):
    rows = table.find("tr",mode="all")
    print(f"{n} -> {len(rows)} rows")

0 -> 21 rows
1 -> 21 rows
2 -> 3 rows
3 -> 25 rows
4 -> 27 rows
5 -> 4 rows
6 -> 25 rows
7 -> 1 rows
8 -> 7 rows
9 -> 5 rows
10 -> 8 rows

In [ ]:
for n, table in enumerate(tables):
    rows = table.find("tr",mode="all")
    cols = rows[-1].find("td", mode="all")
    print(f"{n} -> {len(rows)} rows, {len(cols)} columns")

0 -> 21 rows, 9 columns
1 -> 21 rows, 9 columns
2 -> 3 rows, 9 columns
3 -> 25 rows, 9 columns
4 -> 27 rows, 9 columns
5 -> 4 rows, 9 columns
6 -> 25 rows, 11 columns
7 -> 1 rows, 2 columns
8 -> 7 rows, 1 columns
9 -> 5 rows, 1 columns
10 -> 8 rows, 1 columns

In [ ]:
table = tables[0]
table

<table class="wikitable sortable" style="font-size: 95%;">
<caption>
</caption>
<tbody><tr>
<th>Event
</th>
<th style="width:4em" class="unsortable">Time
</th>
<th class="unsortable">
</th>
<th>Name</th>
<th>Nationality</th>
<th>Date</th>
<th>Meet</th>
<th>Location
</th>
<th class="unsortable">Ref
</th></tr>

<tr>
<td><span data-sort-value="01 !"><a href="/wiki/World_record_progression_50_metres_freestyle" title="World record progression 50 metres freestyle">50m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">20.91
</td>
<td style="font-size:smaller">ss</td>
<td><span class="nowrap"><span data-sort-value="Cielo, César"><span class="vcard"><span class="fn"><a href="/wiki/C%C3%A9sar_Cielo" title="César Cielo">César Cielo</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/40px-Flag_of_Brazil.svg.png" decoding="async" width="22" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/60px-Flag_of_Brazil.svg.png 2x" data-file-width="1000" data-file-height="700"></span></span> </span>Brazil
</td>
<td style="text-align:center">18 December 2009</td>
<td>Brazilian Championships
</td>
<td><span data-sort-value="Brazil, São Paulo !"><a href="/wiki/S%C3%A3o_Paulo" title="São Paulo">São Paulo</a>, Brazil</span>
</td>
<td style="text-align:center"><sup id="cite_ref-9" class="reference"><a href="#cite_note-9"><span class="cite-bracket">[</span>9<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-10" class="reference"><a href="#cite_note-10"><span class="cite-bracket">[</span>10<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-11" class="reference"><a href="#cite_note-11"><span class="cite-bracket">[</span>11<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-12" class="reference"><a href="#cite_note-12"><span class="cite-bracket">[</span>12<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="02 !"><a href="/wiki/World_record_progression_100_metres_freestyle" title="World record progression 100 metres freestyle">100m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">46.40
</td>
<td style="font-size:smaller"></td>
<td><span class="nowrap"><a href="/wiki/Pan_Zhanle" title="Pan Zhanle">Pan Zhanle</a></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/40px-Flag_of_the_People%27s_Republic_of_China.svg.png" decoding="async" width="23" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/60px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" data-file-width="900" data-file-height="600"></span></span> </span>China
</td>
<td style="text-align:center">31 July 2024</td>
<td><a href="/wiki/Swimming_at_the_2024_Summer_Olympics_%E2%80%93_Men%27s_100_metre_freestyle" class="mw-redirect" title="Swimming at the 2024 Summer Olympics – Men's 100 metre freestyle">Olympic Games</a>
</td>
<td><span data-sort-value="France, Paris !"><a href="/wiki/Paris" title="Paris">Paris</a>, France</span>
</td>
<td style="text-align:center"><sup id="cite_ref-13" class="reference"><a href="#cite_note-13"><span class="cite-bracket">[</span>13<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="03 !"><a href="/wiki/World_record_progression_200_metres_freestyle" title="World record progression 200 metres freestyle">200m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">1:42.00
</td>
<td style="font-size:smaller">ss</td>
<td><span class="nowrap"><span data-sort-value="Biedermann, Paul"><span class="vcard"><span class="fn"><a href="/wiki/Paul_Biedermann" title="Paul Biedermann">Paul Biedermann</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/40px-Flag_of_Germany.svg.png" decoding="async" width="23" height="14" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/60px-Flag_of_Germany.svg.png 2x" data-file-width="1000" data-file-height="600"></span></span> </span>Germany
</td>
<td style="text-align:center">28 July 2009</td>
<td><a href="/wiki/Swimming_at_the_2009_World_Aquatics_Championships_%E2%80%93_Men%27s_200_metre_freestyle" title="Swimming at the 2009 World Aquatics Championships – Men's 200 metre freestyle">World Championships</a>
</td>
<td><span data-sort-value="Italy, Rome !"><a href="/wiki/Rome" title="Rome">Rome</a>, Italy</span>
</td>
<td style="text-align:center"><sup id="cite_ref-14" class="reference"><a href="#cite_note-14"><span class="cite-bracket">[</span>14<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-15" class="reference"><a href="#cite_note-15"><span class="cite-bracket">[</span>15<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-16" class="reference"><a href="#cite_note-16"><span class="cite-bracket">[</span>16<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="04 !"><a href="/wiki/World_record_progression_400_metres_freestyle" title="World record progression 400 metres freestyle">400m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">3:39.96
</td>
<td style="font-size:smaller"></td>
<td><span class="nowrap"><span data-sort-value="Märtens, Lukas"><span class="vcard"><span class="fn"><a href="/wiki/Lukas_M%C3%A4rtens" title="Lukas Märtens">Lukas Märtens</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/40px-Flag_of_Germany.svg.png" decoding="async" width="23" height="14" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/60px-Flag_of_Germany.svg.png 2x" data-file-width="1000" data-file-height="600"></span></span> </span>Germany
</td>
<td style="text-align:center">12 April 2025</td>
<td>Swim Open Stockholm
</td>
<td><span data-sort-value="Sweden, Stockholm !"><a href="/wiki/Stockholm" title="Stockholm">Stockholm</a>, Sweden</span>
</td>
<td style="text-align:center"><sup id="cite_ref-17" class="reference"><a href="#cite_note-17"><span class="cite-bracket">[</span>17<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="05 !"><a href="/wiki/World_record_progression_800_metres_freestyle" title="World record progression 800 metres freestyle">800m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">7:32.12
</td>
<td style="font-size:smaller">ss</td>
<td><span class="nowrap"><a href="/wiki/Zhang_Lin_(swimmer)" title="Zhang Lin (swimmer)">Zhang Lin</a></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/40px-Flag_of_the_People%27s_Republic_of_China.svg.png" decoding="async" width="23" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/60px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" data-file-width="900" data-file-height="600"></span></span> </span>China
</td>
<td style="text-align:center">29 July 2009</td>
<td><a href="/wiki/Swimming_at_the_2009_World_Aquatics_Championships_%E2%80%93_Men%27s_800_metre_freestyle" title="Swimming at the 2009 World Aquatics Championships – Men's 800 metre freestyle">World Championships</a>
</td>
<td><span data-sort-value="Italy, Rome !"><a href="/wiki/Rome" title="Rome">Rome</a>, Italy</span>
</td>
<td style="text-align:center"><sup id="cite_ref-18" class="reference"><a href="#cite_note-18"><span class="cite-bracket">[</span>18<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-19" class="reference"><a href="#cite_note-19"><span class="cite-bracket">[</span>19<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="06 !"><a href="/wiki/World_record_progression_1500_metres_freestyle" title="World record progression 1500 metres freestyle">1500m freestyle</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">14:30.67
</td>
<td style="font-size:smaller"></td>
<td><span class="nowrap"><span data-sort-value="Finke, Bobby"><span class="vcard"><span class="fn"><a href="/wiki/Bobby_Finke" title="Bobby Finke">Bobby Finke</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/40px-Flag_of_the_United_States.svg.png" decoding="async" width="23" height="12" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/60px-Flag_of_the_United_States.svg.png 2x" data-file-width="1235" data-file-height="650"></span></span> </span>United States
</td>
<td style="text-align:center">4 August 2024</td>
<td><a href="/wiki/Swimming_at_the_2024_Summer_Olympics_%E2%80%93_Men%27s_1500_metre_freestyle" class="mw-redirect" title="Swimming at the 2024 Summer Olympics – Men's 1500 metre freestyle">Olympic Games</a>
</td>
<td><span data-sort-value="France, Paris !"><a href="/wiki/Paris" title="Paris">Paris</a>, France</span>
</td>
<td style="text-align:center"><sup id="cite_ref-20" class="reference"><a href="#cite_note-20"><span class="cite-bracket">[</span>20<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-21" class="reference"><a href="#cite_note-21"><span class="cite-bracket">[</span>21<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="07 !"><a href="/wiki/World_record_progression_50_metres_backstroke" title="World record progression 50 metres backstroke">50m backstroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">23.55
</td>
<td style="font-size:smaller">sf</td>
<td><span class="nowrap"><span data-sort-value="Kolesnikov, Kliment"><span class="vcard"><span class="fn"><a href="/wiki/Kliment_Kolesnikov" title="Kliment Kolesnikov">Kliment Kolesnikov</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/40px-Flag_of_Russia.svg.png" decoding="async" width="23" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/60px-Flag_of_Russia.svg.png 2x" data-file-width="900" data-file-height="600"></span></span> </span>Russia
</td>
<td style="text-align:center">27 July 2023</td>
<td>Russian Cup
</td>
<td><span data-sort-value="Russia, Kazan !"><a href="/wiki/Kazan" title="Kazan">Kazan</a>, Russia</span>
</td>
<td style="text-align:center"><sup id="cite_ref-22" class="reference"><a href="#cite_note-22"><span class="cite-bracket">[</span>22<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="08'"`UNIQ--ref-00000019-QINU`"' !"><a href="/wiki/World_record_progression_100_metres_backstroke" title="World record progression 100 metres backstroke">100m backstroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">51.60
</td>
<td style="font-size:smaller"></td>
<td><span class="nowrap"><span data-sort-value="Ceccon, Thomas"><span class="vcard"><span class="fn"><a href="/wiki/Thomas_Ceccon" title="Thomas Ceccon">Thomas Ceccon</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/40px-Flag_of_Italy.svg.png" decoding="async" width="23" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/60px-Flag_of_Italy.svg.png 2x" data-file-width="1500" data-file-height="1000"></span></span> </span>Italy
</td>
<td style="text-align:center">20 June 2022</td>
<td><a href="/wiki/Swimming_at_the_2022_World_Aquatics_Championships_%E2%80%93_Men%27s_100_metre_backstroke" title="Swimming at the 2022 World Aquatics Championships – Men's 100 metre backstroke">World Championships</a>
</td>
<td><span data-sort-value="Hungary, Budapest !"><a href="/wiki/Budapest" title="Budapest">Budapest</a>, Hungary</span>
</td>
<td style="text-align:center"><sup id="cite_ref-24" class="reference"><a href="#cite_note-24"><span class="cite-bracket">[</span>24<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-25" class="reference"><a href="#cite_note-25"><span class="cite-bracket">[</span>25<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="09 !"><a href="/wiki/World_record_progression_200_metres_backstroke" title="World record progression 200 metres backstroke">200m backstroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">1:51.92
</td>
<td style="font-size:smaller">ss</td>
<td><span class="nowrap"><span data-sort-value="Peirsol, Aaron"><span class="vcard"><span class="fn"><a href="/wiki/Aaron_Peirsol" title="Aaron Peirsol">Aaron Peirsol</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/40px-Flag_of_the_United_States.svg.png" decoding="async" width="23" height="12" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/60px-Flag_of_the_United_States.svg.png 2x" data-file-width="1235" data-file-height="650"></span></span> </span>United States
</td>
<td style="text-align:center">31 July 2009</td>
<td><a href="/wiki/Swimming_at_the_2009_World_Aquatics_Championships_%E2%80%93_Men%27s_200_metre_backstroke" title="Swimming at the 2009 World Aquatics Championships – Men's 200 metre backstroke">World Championships</a>
</td>
<td><span data-sort-value="Italy, Rome !"><a href="/wiki/Rome" title="Rome">Rome</a>, Italy</span>
</td>
<td style="text-align:center"><sup id="cite_ref-26" class="reference"><a href="#cite_note-26"><span class="cite-bracket">[</span>26<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-27" class="reference"><a href="#cite_note-27"><span class="cite-bracket">[</span>27<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-28" class="reference"><a href="#cite_note-28"><span class="cite-bracket">[</span>28<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="10 !"><a href="/wiki/World_record_progression_50_metres_breaststroke" title="World record progression 50 metres breaststroke">50m breaststroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">25.95
</td>
<td style="font-size:smaller">sf</td>
<td><span class="nowrap"><span data-sort-value="Peaty, Adam"><span class="vcard"><span class="fn"><a href="/wiki/Adam_Peaty" title="Adam Peaty">Adam Peaty</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/40px-Flag_of_the_United_Kingdom.svg.png" decoding="async" width="23" height="12" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/60px-Flag_of_the_United_Kingdom.svg.png 2x" data-file-width="1200" data-file-height="600"></span></span> </span>Great Britain
</td>
<td style="text-align:center">25 July 2017</td>
<td><a href="/wiki/Swimming_at_the_2017_World_Aquatics_Championships_%E2%80%93_Men%27s_50_metre_breaststroke" title="Swimming at the 2017 World Aquatics Championships – Men's 50 metre breaststroke">World Championships</a>
</td>
<td><span data-sort-value="Hungary, Budapest !"><a href="/wiki/Budapest" title="Budapest">Budapest</a>, Hungary</span>
</td>
<td style="text-align:center"><sup id="cite_ref-29" class="reference"><a href="#cite_note-29"><span class="cite-bracket">[</span>29<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-30" class="reference"><a href="#cite_note-30"><span class="cite-bracket">[</span>30<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="11 !"><a href="/wiki/World_record_progression_100_metres_breaststroke" title="World record progression 100 metres breaststroke">100m breaststroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">56.88
</td>
<td style="font-size:smaller">sf</td>
<td><span class="nowrap"><span data-sort-value="Peaty, Adam"><span class="vcard"><span class="fn"><a href="/wiki/Adam_Peaty" title="Adam Peaty">Adam Peaty</a></span></span></span></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/40px-Flag_of_the_United_Kingdom.svg.png" decoding="async" width="23" height="12" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/60px-Flag_of_the_United_Kingdom.svg.png 2x" data-file-width="1200" data-file-height="600"></span></span> </span>Great Britain
</td>
<td style="text-align:center">21 July 2019</td>
<td><a href="/wiki/Swimming_at_the_2019_World_Aquatics_Championships_%E2%80%93_Men%27s_100_metre_breaststroke" title="Swimming at the 2019 World Aquatics Championships – Men's 100 metre breaststroke">World Championships</a>
</td>
<td><span data-sort-value="South Korea, Gwangju !"><a href="/wiki/Gwangju" title="Gwangju">Gwangju</a>, South Korea</span>
</td>
<td style="text-align:center"><sup id="cite_ref-31" class="reference"><a href="#cite_note-31"><span class="cite-bracket">[</span>31<span class="cite-bracket">]</span></a></sup><sup id="cite_ref-32" class="reference"><a href="#cite_note-32"><span class="cite-bracket">[</span>32<span class="cite-bracket">]</span></a></sup>
</td></tr>


<tr>
<td><span data-sort-value="12 !"><a href="/wiki/World_record_progression_200_metres_breaststroke" title="World record progression 200 metres breaststroke">200m breaststroke</a></span>
</td>
<td style="text-align:right; padding-left:0.5em; padding-right:0.5em;">2:05.48
</td>
<td style="font-size:smaller"></td>
<td><span class="nowrap"><a href="/wiki/Qin_Haiyang" title="Qin Haiyang">Qin Haiyang</a></span>
</td>
<td><span class="flagicon"><span class="mw-image-border" typeof="mw:File"><span><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/40px-Flag_of_the_People%27s_Republic_of_China.svg.png" decoding="async" width="23" height="15" class="mw-file-element" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/60px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" data-file-width="900" data-file-height="600"></span></span> </span>China
</td>
<td style="text-align:center">28 July 2023</td>
<td><a href="/wiki/Swimming_at_the_2023_World_Aquatics_Championships_%E2%80%93_Men%27s_200_metre_breaststroke" title="Swimming at the 2023 World Aquatics Championships – Men's 200 metre breaststroke">World Championships</a>
</td>

In [ ]:
for row in table.find("tr", mode="all")[1:]:
    columns = row.find("td" , mode="all")
    event = columns[0].text
    time = columns[1].text
    print(f"{event} -> {time}")

50m freestyle -> 20.91
100m freestyle -> 46.40
200m freestyle -> 1:42.00
400m freestyle -> 3:39.96
800m freestyle -> 7:32.12
1500m freestyle -> 14:30.67
50m backstroke -> 23.55
100m backstroke -> 51.60
200m backstroke -> 1:51.92
50m breaststroke -> 25.95
100m breaststroke -> 56.88
200m breaststroke -> 2:05.48
50m butterfly -> 22.27
100m butterfly -> 49.45
200m butterfly -> 1:50.34
200m individual medley -> 1:52.69
400m individual medley -> 4:02.50
4 × 100 m freestyle relay -> 3:08.24
4 × 200 m freestyle relay -> 6:58.55
4 × 100 m medley relay -> 3:26.78

In [ ]:
URL = "https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses/charge-collect-which-rate/calculator.html"
import gazpacho
html = gazpacho.get(URL)
soup = gazpacho.Soup(html)
tables = soup.find("table")
rows = tables[0].find("tr",mode="all")
for n, table in enumerate(tables):
    rows = table.find("tr",mode="all")
    cols = rows[-1].find("td", mode="all")
    print(f"{n} -> {len(rows)} rows, {len(cols)} columns")

0 -> 14 rows, 3 columns
1 -> 14 rows, 5 columns

In [ ]:
RECORDS = (0,2,4,5)
COURSES = ("Alberta")

In [ ]:
list(zip(RECORDS,COURSES))

[(0, 'A'), (2, 'l'), (4, 'b'), (5, 'e')]

In [ ]:
c = str(input("enter:"))
if c.lower() == 'q':
    print("quit")

quit

In [ ]:
%pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%pip install lxml --upgrade

Requirement already satisfied: lxml in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [ ]:
tables = pd.read_html(URL)

HTTPError: HTTP Error 403: Forbidden

In [ ]:
import requests
from io import StringIO

headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/120.0.0.0 Safari/537.36"
    )
}
r = requests.get(URL, headers=headers, timeout=15)
r.raise_for_status()
html_io = StringIO(r.text)
tables = pd.read_html(html_io)

In [ ]:
tables[0].head()

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.40,NaN,Pan Zhanle,China,31 July 2024,Olympic Games,"Paris, France",[13]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[14][15][16]
3,400m freestyle,3:39.96,NaN,Lukas Märtens,Germany,12 April 2025,Swim Open Stockholm,"Stockholm, Sweden",[17]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[18][19]

In [ ]:
df = tables[0][["Event","Time"]]

In [ ]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:39.96
4  800m freestyle  7:32.12

In [ ]:
df.to_dict()

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '100m backstroke',
  8: '200m backstroke',
  9: '50m breaststroke',
  10: '100m breaststroke',
  11: '200m breaststroke',
  12: '50m butterfly',
  13: '100m butterfly',
  14: '200m butterfly',
  15: '200m individual medley',
  16: '400m individual medley',
  17: '4 × 100 m freestyle relay',
  18: '4 × 200 m freestyle relay',
  19: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.40',
  2: '1:42.00',
  3: '3:39.96',
  4: '7:32.12',
  5: '14:30.67',
  6: '23.55',
  7: '51.60',
  8: '1:51.92',
  9: '25.95',
  10: '56.88',
  11: '2:05.48',
  12: '22.27',
  13: '49.45',
  14: '1:50.34',
  15: '1:52.69',
  16: '4:02.50',
  17: '3:08.24',
  18: '6:58.55',
  19: '3:26.78'}}

In [ ]:
df.tail()

                        Event     Time
15     200m individual medley  1:52.69
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [ ]:
df[df["Event"].str.contains("relay")]

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [ ]:
df[~df["Event"].str.contains("relay")]

                     Event      Time
0            50m freestyle     20.91
1           100m freestyle     46.40
2           200m freestyle   1:42.00
3           400m freestyle   3:39.96
4           800m freestyle   7:32.12
5          1500m freestyle  14:30.67
6           50m backstroke     23.55
7          100m backstroke     51.60
8          200m backstroke   1:51.92
9         50m breaststroke     25.95
10       100m breaststroke     56.88
11       200m breaststroke   2:05.48
12           50m butterfly     22.27
13          100m butterfly     49.45
14          200m butterfly   1:50.34
15  200m individual medley   1:52.69
16  400m individual medley   4:02.50

In [ ]:
df = df[~df["Event"].str.contains("relay")]

In [ ]:
df.to_dict("records")

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:39.96'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:52.69'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [ ]:
df = df.set_index("Event")
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:39.96
800m freestyle  7:32.12

In [ ]:
df.to_dict()

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:52.69',
  '400m individual medley': '4:02.50'}}

In [ ]:
records = {}
records["LC Men"] = df.to_dict()["Time"]

In [ ]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:39.96',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:52.69',
  '400m individual medley': '4:02.50'}}

In [ ]:
RECORDS = (0, 2, 4, 5)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

In [ ]:
%pip install DBcm --upgrade

Collecting DBcm
  Downloading dbcm-3.0.5-py3-none-any.whl.metadata (2.6 kB)
Collecting mariadb (from DBcm)
  Downloading mariadb-1.1.14-cp311-cp311-win_amd64.whl.metadata (3.2 kB)
Requirement already satisfied: packaging in c:\users\sridh\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mariadb->DBcm) (25.0)
Downloading dbcm-3.0.5-py3-none-any.whl (4.4 kB)
Downloading mariadb-1.1.14-cp311-cp311-win_amd64.whl (202 kB)
Installing collected packages: mariadb, DBcm

   ---------------------------------------- 2/2 [DBcm]

Successfully installed DBcm-3.0.5 mariadb-1.1.14
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import DBcm

In [ ]:
db_details = "CoachDB.sqlite3"

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

In [ ]:
results

[('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [ ]:
SQL = """
    select time()
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[('03:38:34',)]

In [ ]:
SQL = """
    create table if not exists swimmers (
        id integer not null primary key autoincrement,
        name varchar(32) not null,
        age integer not null
    )    
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    SQL_1 = """
        create table if not exists events (
            id integer not null primary key autoincrement,
            distance varchar(16) not null,
            stroke varchar(16) not null
        )
    """
    SQL_2 = """
        create table if not exists times (
            swimmer_id integer not null,  
            event_id integer not null,
            time varchar(16) not null,
            ts timestamp default current_timestamp
        )
    """
    db.execute(SQL_1)
    db.execute(SQL_2)

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [ ]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [ ]:
name, age

('Abi', '10')

In [ ]:
distance, stroke

('100m', 'Back')

In [ ]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [ ]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Abi-10-100m-Back.txt

('Abi', '10')

In [ ]:
# Don't be tempted to do this (i.e., don't use an f-string here).

SQL = f"""
    insert into swimmers
    (name, age)
    values
    ("{name}", {age})
"""
print(SQL)

    insert into swimmers
    (name, age)
    values
    ("Abi", 10)

In [ ]:
import DBcm

db_details = "CoachDB.sqlite3"

In [ ]:
# Do this instead... use SQL Injection Attack safeguards with placeholders.

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""
print(SQL_INSERT)

    insert into swimmers
    (name, age)
    values
    (?, ?)

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

In [ ]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(2, 'Abi', 10)]

In [ ]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [ ]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")    
        db.execute(SQL_INSERT, (name, age, ))

In [ ]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [ ]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [ ]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)
files.remove(".DS_Store")

In [ ]:
import DBcm

db_details = "CoachDB.sqlite3"

In [ ]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(63, 'Abi', 10),
 (64, 'Ali', 12),
 (65, 'Alison', 14),
 (66, 'Aurora', 13),
 (67, 'Bill', 18),
 (68, 'Blake', 15),
 (69, 'Calvin', 9),
 (70, 'Carl', 15),
 (71, 'Chris', 17),
 (72, 'Darius', 13),
 (73, 'Dave', 17),
 (74, 'Elba', 14),
 (75, 'Emma', 13),
 (76, 'Erika', 15),
 (77, 'Hannah', 13),
 (78, 'Katie', 9),
 (79, 'Lizzie', 14),
 (80, 'Maria', 9),
 (81, 'Mike', 15),
 (82, 'Owen', 15),
 (83, 'Ruth', 13),
 (84, 'Tasmin', 15)]

In [ ]:
SQL = """select * from events"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Back'),
 (2, '100m', 'Breast'),
 (3, '50m', 'Back'),
 (4, '50m', 'Breast'),
 (5, '50m', 'Free'),
 (6, '100m', 'Free'),
 (7, '200m', 'Back'),
 (8, '100m', 'Fly'),
 (9, '50m', 'Fly'),
 (10, '200m', 'IM'),
 (11, '200m', 'Breast'),
 (12, '200m', 'Free'),
 (13, '400m', 'Free')]

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [ ]:
SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

In [ ]:
SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

In [ ]:
SQL_INSERT = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

In [ ]:
SQL = """select * from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [ ]:
SQL = """delete from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t,))

In [ ]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

338

In [ ]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(63, 1, '1:31.59', '2025-10-29 03:49:09'),
 (63, 1, '1:26.55', '2025-10-29 03:49:09'),
 (63, 1, '1:28.75', '2025-10-29 03:49:09'),
 (63, 1, '1:39.79', '2025-10-29 03:49:09'),
 (63, 1, '1:32.37', '2025-10-29 03:49:09'),
 (63, 2, '1:42.97', '2025-10-29 03:49:09'),
 (63, 2, '1:43.31', '2025-10-29 03:49:09'),
 (63, 2, '1:43.50', '2025-10-29 03:49:09'),
 (63, 2, '1:40.34', '2025-10-29 03:49:09'),
 (63, 3, '41.50', '2025-10-29 03:49:09')]

In [49]:
SQL_SESSIONS = """
    select distinct ts from times
"""


SQL_SWIMMERS_BY_SESSION = """
    select distinct swimmers.name, swimmers.age  
    from times, swimmers 
    where date(times.ts) = ? and     
    times.swimmer_id = swimmers.id 
    order by name
"""


SQL_SWIMMERS_EVENTS_BY_SESSION = """  
    select distinct events.distance, events.stroke
    from swimmers, events, times
    where times.swimmer_id = swimmers.id and
    times.event_id = events.id and
    (swimmers.name = ? and swimmers.age = ?) and
    date(times.ts) = ?
"""


SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION = """
    select times.time
    from swimmers, events, times
    where (swimmers.name = ? and swimmers.age = ?) and
    (events.distance = ? and events.stroke = ?) and 
    swimmers.id = times.swimmer_id and
    events.id = times.event_id and
    date(times.ts) = ?
"""

In [ ]:
import DBcm
db_details = "tax_rates.sqlite3"
state = 'Alberta'
SQL = """select tax_percent_str from Tax where province = ?"""

print(SQL)
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL, (state,))  # Pass the parameter safely using a tuple
    result = db.fetchone()[0]  # Get just the value
result

select tax_percent_str from Tax where province = ?

'5%'

In [51]:
import queries
print(SQL_SESSIONS)

    select distinct ts from times

In [52]:
statements = []
for sql in dir(queries):
    if not sql.startswith("__"):
        statements.append(sql)
statements

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION',
 'SQL_SESSIONS',
 'SQL_SWIMMERS_BY_SESSION',
 'SQL_SWIMMERS_EVENTS_BY_SESSION']

In [53]:
[sql for sql in dir(queries) if not sql.startswith("__")]

['SQL_CHART_DATA_BY_SWIMMER_EVENT_SESSION',
 'SQL_SESSIONS',
 'SQL_SWIMMERS_BY_SESSION',
 'SQL_SWIMMERS_EVENTS_BY_SESSION']

In [57]:
sql2 = "___"
if sql2.startswith("__"):
    print ('Yes')

Yes

In [59]:
import DBcm
db_details = "CoachDB.sqlite3"
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_SESSIONS)
    results = db.fetchall()
results

[('2025-10-29 03:49:09',)]

In [60]:
!py -3 update_tables.py

'py' is not recognized as an internal or external command,
operable program or batch file.